.hero {
  position: relative;
  padding: 64px 0;
  text-align: center;
}

.hero .hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.hero .hero-content h1 {
  font-size: var(--heading-font-size-xxl);
  margin-bottom: 16px;
}

.hero .hero-content p {
  font-size: var(--body-font-size-m);
  margin-bottom: 24px;
}

.hero .hero-image picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero .hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .hero {
    padding: 80px 0;
  }
}

@media (min-width: 900px) {
  .hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .hero .hero-content {
    flex: 1;
  }

  .hero .hero-image {
    flex: 1;
  }

  .hero .hero-buttons {
    justify-content: flex-start;
  }
}
